<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
    <style>
        table,tr,th,td{
            border: 1px solid blue;
        }
    </style>
</head>
<body>
    <h1>Students Informations</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>City</th>
              <th>Operation</th>
            </tr>
        </thead>
        <tbody>
             
            <%students.forEach((student)=>{%>
                <tr >
             <td><%=student.name%></td>
             <td><%=student.age%></td>
             <td><%=student.email%></td>
             <td><%=student.city%></td>
             <td><a href="/ui/delete/<%=student._id%>">Delete</a></td>
             </tr>
           <% })%>
           
        </tbody>
    </table>
</body>
</html>